<p>
  {{link-to "Card list" "cards.index" }}
</p>

<h1>Card show</h1>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Description:</strong>
  <span>{{model.description}}</span>
</p>

<p>
  <strong>Datecreated:</strong>
  <span>{{model.dateCreated}}</span>
</p>

<p>
  <strong>Lastmodified:</strong>
  <span>{{model.lastModified}}</span>
</p>

<p>
  <strong>Createdby:</strong>
  <span>{{model.createdBy}}</span>
</p>

<p>
  <strong>Modifiedby:</strong>
  <span>{{model.modifiedBy}}</span>
</p>

<p>
  <strong>Category:</strong>
  <span>{{model.category}}</span>
</p>

